#home-post-card{
        box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 376px;
            padding: 16px 24px;
            border: 1px solid #ebebeb;
                margin: 10px;
                    padding: 10px;
                    font: inherit;
                    vertical-align: baseline;
                    width: 322px;
                   
}

.loc-post-card-img {
    width: 300px;
    height: 211.5px;
    object-fit: cover;

}

.post-img{
    height: 100%;
    min-width: 300px;
    min-height: 211.5px;
    max-width: 300px;
    max-height: 211.5px;
}

.loc-post-card-user{
    align-items: center;
}

.user-info{
    width: 200px;
    padding: 10px;
}