.location-feed{
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;

}

.post-feed {
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;

}

.loading {
    display: block;
    width: 20%;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    

}

.homepage {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}
.h1-span{
    text-align: center;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 36px;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    color: rgba(45, 46, 47, 1);
}

.h2-span {
    text-align: center;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 36px;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}


.home-title{
    justify-content: center;
    text-align: center;
}

.App {
    margin-top: 100px;
}


.h2-span{
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 4px;
    margin: 5px;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
}


.h2-span:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;
    
}
