.location-feed{
    flex-wrap: wrap;
    margin-top: 90px;
    justify-content: space-around;

}

.loading {
    display: block;
    width: 20%;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    

}

.homepage {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}