.loc-d {
    margin-top: 99.5px;
}

.loc-d-bg{
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: -1;
}

.loc-d-info {
        background: rgba(255, 255, 255, .7);
            /* Wih reference to online res */
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    width: 40%;
    min-width: 400px;
    padding: 10px 30px;
    z-index: 3;


    box-shadow: 0 0 10px #0000001a;
    border-radius: 4px;
    border-color: #ebebeb;
    padding-bottom: 24px !important;
    padding-top: 24px !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
    position: relative;
    top: 20vh;
    left: 10%;

}



.loc-map {
    
}

.loc-post-card{
    margin-bottom: 25px;
}

.user-name{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 3px;
    font-weight: bolder;

}
.loc-d-img-div {
    margin-top: 30vh;
    width: 90%;
    overflow-x: auto;
    margin-left: 5%;
}
.loc-d-main-yes {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    flex-wrap: wrap;

}

.loc-d-main-no {
    width: 80%;
    margin-left: 10%;
    /* margin-top: 30vh; */
    flex-wrap: wrap;

}

.title {
    font-weight: bolder;
    font-size: 20px;
    font-weight: 700;
}
.loc-main {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgba(45, 46, 47, 1);
    text-align: left;
}

.main-div{
    border-top: #ebebeb solid 1px;
    margin-top: 20px;
}

.user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.post-img{
    max-width: 300px;
    border-radius: 5px;
}

.loc-post-card-user {
    margin-bottom: 16px;
}

.loc-post-card-time {
    letter-spacing: 0px;
    line-height: 20px;
    color: rgba(110, 112, 114, 1);
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

.loc-post-card-post {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 20px;
    color: rgba(45, 46, 47, 1);
    text-align: left;
    margin-bottom: 16px;

}

.loc-d-main-l {
    width: 60%;
    padding: 0 10% 0 0;
    min-width: 600px;
}

.loc-d-main-r {
    width: 30%;
    min-width: 300px;
}